@page
@model _2048Model
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Swarm Arcade!</h1>
    <p>Below is a list of available games for our users to play! Including Swarm our latest release.</p>
    <iframe src="/Games/2048/index.html" width="1280px" height="720px"></iframe>
</div>
<hr>
<div class="container" style="border: 5px;">
    <div class="row">
        <div class="col-3">
            <img src="https://yt3.googleusercontent.com/HKpoZ_K-vuyM1v56oa_x4WcESTxth880HyPkYRTLAWCarTCba_H-R4_m6y89NnRedn8XUKLxcw=s900-c-k-c0x00ffffff-no-rj" alt="Swarm" width="100%">
        </div>
        <div class="col-9">
            <p>Swarm is an action-packed pixel arcade shooter that puts you in the shoes of humanity's last hope against a relentless horde of alien invaders. With lightning-fast reflexes and a keen eye for targets, you'll take on wave after wave of enemy forces, dodging their attacks and unleashing devastating firepower to keep them at bay.</p>
            <hr>
            <a href="/Swarm" class="button">Play Swarm</a>
        </div>
    </div>
</div>
<hr>
<div class="container" style="border: 5px;">
    <div class="row">
        <div class="col-3">
            <img src="https://nakedsecurity.sophos.com/wp-content/uploads/sites/2/2014/02/flapp-icons-250.png" alt="ClumsyBird" width="100%">
        </div>
        <div class="col-9">
            <p>Clumsy Bird is a fast-paced, addictive pixel arcade game that will put your reflexes to the test. In this game, you play as a clumsy bird trying to fly through a series of pipes without crashing. With its simple one-tap gameplay and charming retro graphics, Clumsy Bird is easy to pick up but hard to put down. You'll need to time your taps carefully to keep the bird aloft and navigate through the gaps in the pipes. One wrong move and it's game over!</p>
            <hr>
            <a href="/ClumsyBird" class="button">Play Clumsy Bird</a>
        </div>
    </div>
</div>
<hr>
<div class="container" style="border: 5px;">
    <div class="row">
        <div class="col-3">
            <img src="https://gabrielecirulli.github.io/2048/meta/og_image.png" alt="2048" width="100%">
        </div>
        <div class="col-9">
            <p>2048 is a popular single-player puzzle game that involves sliding numbered tiles on a grid to combine them and reach the coveted tile with the number 2048. The game is played on a 4x4 grid, with each tile representing a power of 2, starting at 2 and doubling up to 2048. To play the game, the player must swipe the tiles in one of four directions (up, down, left, or right) to combine identical tiles and create a new tile with a value equal to the sum of the two merged tiles. The game ends when there are no more moves to make or when the player reaches the 2048 tile.</p>
            <hr>
            <a href="/2048" class="button">Play 2048</a>
        </div>
    </div>
</div>